/* -------- Global Classes -------- */
.section-padding {
    padding: 50px 0;
}

/* -------- Header Section -------- */
header {
    background-color: #000;
}

/* -------- Banner Section-------- */

#banner {
    position: relative;
    height: calc(100vh - 50px);
    margin-top: 50px;
    background: url(../images/banner-bridge.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.shine-overlay {
    background: url(../images/grid-px.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.3;
}

.grid-overlay {
    background-color: #000;
    background-image: linear-gradient(30deg, #000, 5px, #fff);
    background-size: 5px 5px;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.nav-logo{
    padding: 0 0 4px 0;
}

#content{
    padding: 50px 0;
}

/* -------- Stars style -------- */

.b-stars {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.stars {
    top: 70%;
    position: absolute;
}
@-webkit-keyframes star-rotate {
    0% {
        -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg)
    }
}
@keyframes star-rotate {
    0% {
        -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0)
    }
    100% {
        -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}
.stars {
    -webkit-transform: perspective(500px);
    transform: perspective(500px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
    -webkit-animation: star-rotate 500s infinite linear;
    animation: star-rotate 500s infinite linear
}
.star {
    width: 2px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0 -300px;
    transform-origin: 0 0 -300px;
    -webkit-transform: translate3d(0, 0, -300px);
    transform: translate3d(0, 0, -300px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

/* -------- END OF Stars style -------- */


/* Single Page */

.single-page {
    background: #f8f8f8;
}

#featured-image {
    background: url(../images/place-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

#featured-image .fetured-single-title {
    width: 270px;
    position: absolute;
    left: 10%;
    bottom: 10px;
    color: #fff;
}

#featured-image .fetured-single-title h1 {
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#featured-image .fetured-single-title h1:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

#featured-image .fetured-single-title h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 0;
}

#featured-image .featured-single-check {
    width: 270px;
    padding: 20px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #de443a;
    color: #fff;
    text-align: center;
}

#featured-image .featured-signle-price-title {
    font-size: 14px;
    line-height: 20px;
}

#featured-image .featured-signle-price {
    font-size: 24px;
    line-height: 1em;
    font-weight: 500;
}

#single-content .desc-text,
#single-content .desc-informations{
    background: #fff;
    box-shadow: 0px 2px 2px #ddd;
    padding: 35px;
}

#single-min-promo {
    padding: 80px 0;
}

#single-min-promo .mini-promo-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

#single-min-promo .mini-promo-desc {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}